<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dnt.com.androidbestpractices">

    <application
        android:name=".AndroidBestPracticesApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:appComponentFactory="f"
        tools:replace="android:appComponentFactory"
        tools:targetApi="p">
        <activity android:name=".intent.IntentActivity" />
        <activity
            android:name=".intro.IntroActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen" />
        <activity
            android:name=".filter.FilterActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".setting.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".androidx.databinding.DataBindingActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tabbar.TabBarActivity"
            android:label="@string/title_activity_tabbar" />
        <activity
            android:name=".navigationdrawer.NavigationDrawerActivity"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".communicate.CommunicateFragmentActivity"
            android:label="@string/title_activity_communicate_fragment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".button.ButtonActivity"
            android:label="@string/title_activity_button"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".image.LoadingImageActivity"
            android:label="@string/title_activity_loading_image"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".pager.adaperstate.PagerAdapterActivity" />
        <activity android:name=".ads.admob.AdmobActivity" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>